

.btn {
    border-radius: $border-radius;
    padding: 10px 20px;
    border: none;
    box-shadow: $box-shadow;
    cursor: pointer;
    text-decoration: none;
  
    &.btn-primary {
      background-color: $primary;
      color: $white;
      font-weight: 600;
  
      &:hover {
        transition: opacity 0.4s;
        border: 2px solid $primary;
        background-color: $white;
        color: $primary;
      }
    }
  }