

.container-slider, .modal {
    width: 100%;
    height: 30vh;
    @extend.flex-row;
    justify-content: center;
    align-items: center;
    z-index:10;
  
    &.container-slider {
      .slider-text {
        width: 30%;
        height: 30vh;
        border-radius: 20px;
        line-height: 3rem;
        background-color: rgba(199, 183, 183, 0.348);
        backdrop-filter: blur(1px);
         box-shadow: rgba(255, 255, 255, 0.3) 0px 2px 4px, rgba(255, 255, 255, 0.3) 0px 7px 13px -3px, rgba(255, 255, 255, 0.3) 0px -3px 0px inset;
  
        @extend.flex-column;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 20rem;
      }
    }
  
    &.modal {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.5);
      height: 100%;
  
      &-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #fff;
        padding: 20px;
        border-radius: 5px;
  
        &__close {
          position: absolute;
          top: 10px;
          right: 15px;
          font-size: 20px;
          cursor: pointer;
        }
      }
  
      /* Style pour cacher le défilement du corps lorsque le modal est ouvert */
      body.modal-open {
        overflow: hidden;
      }
    }
  }