
header{
    width: 100%;
    height: 15vh;
    background-color: $primary;
    border: 1px solid $primary;
    nav{
        @extend.flex-row;
        align-items: center;
        margin: 2vh 5rem;
        .logo{
            width: 20%;
            height: 10vh;
            @extend.flex-row;
            justify-content: center;
            border: 2px solid skyblue;
        }
        .menu {
            width: 60%;
          
            ul {
              list-style: none;
              @extend .flex-row;
              justify-content: space-evenly;
          
              li {
                display: inline-block;
                list-style: none;
                margin: 10px 20px;
          
                a {
                  color: $white;
                  text-decoration: none;
                  font-size: x-large;
                  position: relative;
          
                  &::after {
                    content: '';
                    width: 0;
                    height: 0.4vh;
                    background: $secondary;
                    position: absolute;
                    left: 0;
                    bottom: -6px;
                    transition: 0.5s;
                  }
          
                  &:hover::after {
                    width: 100%;
                  }
                }
              }
            }
          }
        .user{
            width: 20%;
            @extend.flex-row;
            justify-content: center;
            svg{
                fill:$secondary;
                cursor: pointer;
                transition: transform 0.3s ease;
                &:hover{
                    transform: translateY(-5px);
                }
            }
            
        }
        .user-menu {
            visibility: hidden;
            position: absolute;
            top: 10vh;
            left: 85rem;
            background-color: #ffffff;
            border: 1px solid #ccc;
            border-radius: 10px;
            z-index: 2;
            ul {
                list-style: none;
                padding: 0;
                li {
                    a {
                        display: block;
                        color: #333;
                        text-decoration: none;
                        padding: 10px 20px;
                        border-radius: 10px;
    
                        &:hover {
                            background-color: #f1f1f1;
                        }
                    }
                }
            }
        }
    }
}